*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background: linear-gradient(135deg, #6a0dad, #ff5edf);
}

.container{
    background: rgba(20,0,40,0.85); 
    padding: 40px 35px;
    width:360px;
    border-radius:25px;
    text-align:center;
    border: 2px solid rgba(255,95,223,0.7);
    box-shadow: 0 0 25px rgba(255,95,223,0.6), 0 0 50px rgba(106,13,173,0.4);
    animation: cardBounce 6s ease-in-out infinite;
}


.container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 35px rgba(255,95,223,1), 0 0 60px rgba(106,13,173,0.6);
    transition: 0.4s;
}

h2{
    color:#ff5edf;
    margin-bottom:20px;
    text-shadow: 0 0 10px #ff5edf, 0 0 20px #ff80ff;
}

label{
    display:block;
    text-align:left;
    color:#e0b3ff;
    margin-bottom:8px;
    font-weight:500;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border-radius:10px;
    border:1px solid #ff80ff;
    background: rgba(50,0,70,0.85);
    color:white;
    font-size:16px;
    outline:none;
    transition: 0.3s;
}

input::placeholder{
    color: rgba(255,255,255,0.6);
}

input:focus{
    border-color:#ff5edf;
    box-shadow:0 0 10px #ff5edf, 0 0 20px #ff80ff;
    transform: scale(1.02);
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:600;
    color:white;
    cursor:pointer;
    background: linear-gradient(45deg,#ff5edf,#ff80ff);
    box-shadow:0 0 12px #ff5edf, 0 0 20px #ff80ff;
    transition:0.4s;
}

button:hover{
    background: linear-gradient(45deg,#ff80ff,#ff5edf);
    box-shadow:0 0 20px #ff80ff, 0 0 25px #ff5edf;
    transform: scale(1.05);
}

#result{
    margin-top:25px;
    font-size:20px;
    color:white;
    min-height:25px;
    animation: fadeIn 0.6s ease;
    text-shadow: 0 0 5px #ff80ff;
}

@keyframes fadeIn{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}

@keyframes cardBounce{
    0%{transform: translateY(0px);}
    25%{transform: translateY(-10px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(-5px);}
    100%{transform: translateY(0px);}
}
